.breadcrumbContent {
    padding-top: 110px;
    font-family: "Inter", serif;
    font-weight: 600;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (max-width: 576px) {
    .breadcrumbContent {
        padding-top: 90px;
    }
}