.breadcrumbContent {
    padding-top: 110px;
    font-family: "Inter", serif;
    font-weight: 600;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .breadcrumbContent {
        padding-top: 180px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .breadcrumbContent {
        padding-top: 90px;
    }
}