.hero-section {
    width: 100%;
    height: 110vh;
    background: linear-gradient(130deg, #b2ccef 0%, #322690 100%);
    background-image: url('../../../public/assets/img/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 145px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h1,
    h5 {
        color: var(--primary-dark);
    }

    h1 {
        padding-top: 50px;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
    }

    p {
        font-weight: 600;
        color: #cbcbcb;

        &.last-date {
            font-weight: 800;
        }
    }

    &:nth-child(1) {
        p {
            text-transform: capitalize;
        }
    }

    .author-btn {
        background: transparent;
        border: 2px solid var(--primary-dark);
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: 600;
        transition: all 0.5s linear;

        &:hover {
            border-color: var(--primary-dark);
            background: var(--primary-dark);
            color: var(--white-color);
            transform: translateY(-5px);
        }
    }

    .submit-btn {
        background: transparent;
        border: 2px solid var(--white-color);
        color: var(--white-color);
        padding: 10px 20px;
        border-radius: 30px;
        font-weight: 600;
        transition: all 0.5s linear;

        &:hover {
            border-color: var(--white-color);
            background: var(--white-color);
            color: var(--primary-color);
            transform: translateY(-5px);
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .hero-section {
        height: 80vh;
        padding-top: 150px;
        justify-content: center;
        gap: 30px;

        h1 {
            font-size: 55px;
        }

        h5 {
            font-size: 30px;
        }

        p {
            font-size: 22px;
            margin: 10px 0;
            letter-spacing: 0.8px;
        }

        button {
            font-size: 22px;
            padding: 10px 30px !important;
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .hero-section {
        height: 90vh;
        padding: 30px 20px;
        padding-top: 100px;
        justify-content: space-evenly;

        h1 {
            padding: 0;
        }

        h1,
        h5,
        p {
            text-align: left;
        }

        p {
            line-height: 1.8;
            margin: 10px 0;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 375px) {
    .hero-section {
        height: auto;
        padding: 30px 20px;
        padding-top: 150px;
        justify-content: center;

        h1 {
            padding: 0;
            font-size: 35px;
            text-align: justify;
        }

        h1,
        h5,
        p {
            text-align: left;
        }

        p {
            line-height: 1.6;
            margin: 10px 0;
            font-size: 16px;
        }

        button {
            margin: 10px 0;
            padding: 8px 20px !important;
            font-size: 15px;
        }
    }
}