.hero-section {
    width: 100%;
    // height: 110vh;
    height: auto;
    background: linear-gradient(130deg, #b2ccef 0%, #322690 100%);
    background-image: url('../../../public/assets/img/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 145px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // &:last-child {
    //     div {
    //         width: 100%;
    //         height: 100%;
    //         max-width: 500px;
    //     }
    // }

    h1,
    h5 {
        color: var(--primary-dark);
    }

    h1 {
        padding-top: 50px;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0;
    }

    p {
        font-weight: 600;
        color: #cbcbcb;

        &.last-date {
            font-weight: 800;
        }
    }

    .search-bar {
        width: 100%;
        max-width: 500px;
        height: 100%;

        form {
            width: 100%;
            height: 100%;

            .input-field {
                width: 100%;

                >div {
                    height: 100%;

                    input {
                        width: 100%;
                        max-width: 500px;
                        height: 45px;
                        border-radius: 99px;
                    }
                }
            }
        }
    }

    &:nth-child(1) {
        p {
            text-transform: capitalize;
        }
    }

    .bottom-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
        gap: 0.5vh;
        row-gap: 1.5vh;
        margin-top: 5vh;
    }

    .author-btn {
        background: var(--primary-dark);
        border: 2px solid var(--primary-dark);
        padding: 10px 20px;
        border-radius: 5vh;
        font-weight: 600;
        line-height: 1.2;
        transition: all 0.3s linear;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.55);

        &:hover {
            border-color: var(--white-color);
            background: var(--white-color);
            color: var(--primary-dark);
            transform: translateY(-3px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.55);
        }
    }

    .submit-btn {
        background: var(--white-color);
        border: 2px solid var(--white-color);
        color: var(--primary-color);
        padding: 10px 20px;
        border-radius: 5vh;
        font-weight: 600;
        line-height: 1.2;
        transition: all 0.3s linear;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.55);

        &:hover {
            border-color: var(--primary-dark);
            background: var(--primary-dark);
            color: var(--white-color);
            transform: translateY(-3px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.55);
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .hero-section {
        height: 80vh;
        padding-top: 150px;
        justify-content: center;
        gap: 30px;

        h1 {
            font-size: 55px;
        }

        h5 {
            font-size: 30px;
        }

        p {
            font-size: 22px;
            margin: 10px 0;
            letter-spacing: 0.8px;
        }

        button {
            font-size: 22px;
            padding: 10px 30px !important;
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .hero-section {
        height: auto;
        padding: 30px 20px;
        padding-top: 15vh;
        justify-content: space-evenly;

        h1 {
            padding: 0;
        }

        h1,
        h5,
        p {
            text-align: left;
        }

        p {
            line-height: 1.5;
            margin: 10px 0;
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 375px) {
    .hero-section {
        height: auto;
        padding: 30px 20px;
        padding-top: 150px;
        justify-content: center;

        h1 {
            padding: 0;
            font-size: 35px;
            text-align: justify;
        }

        h1,
        h5,
        p {
            text-align: left;
        }

        p {
            margin: 10px 0;
            font-size: 16px;
        }

        button {
            margin: 10px 0;
            padding: 8px 20px !important;
            font-size: 15px;
        }
    }
}