.archives-section {
    .inner-content {
        .all-tabs {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.522);
            margin: 10px 0 20px 0;

            .tab {
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                padding: 5px 25px;
                border: 1px solid var(--primary-color);
                border-bottom: none;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                &.active {
                    color: var(--white-color);
                    background: var(--primary-color);
                }
            }
        }

        .tab-content {
            .issue-card {
                cursor: pointer;

                &:hover {
                    .card-top {
                        filter: grayscale(0%);
                        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.755);
                        transform: translateY(-2px);
                    }
                }

                .card-top {
                    overflow: hidden;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                    filter: grayscale(80%);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .card-bottom {
                    p {
                        font-size: 15px;
                        padding: 10px;
                        text-align: center;
                        margin: 0;
                        font-weight: 600;
                        color: var(--primary-dark);
                    }
                }
            }
        }
    }
}

.particular-article-section {
    padding: 50px 0;

    .inner-content {

        // ----- ARTICLE LIST ------
        .current-article {
            width: 100%;
            height: 190px;
            display: block;
            background: linear-gradient(300deg, var(--primary-color) 30%, var(--primary-dark) 80%);
            padding: 50px;
            color: var(--white-color);

            >div {
                display: flex;
                justify-content: space-between;
                align-items: end;

                .breadcrumb-section {
                    padding: 5px 0;
                    position: absolute;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }

                button {
                    background: var(--white-color);
                    color: var(--primary-color);
                    border-color: var(--white-color);

                    &:hover {
                        background: #ececec;
                        border-color: #ececec;
                    }
                }
            }

            h1 {
                margin: 0;
            }
        }

        .journal-title {
            text-align: justify;
            font-weight: 600;
            letter-spacing: 0px;
        }

        .all-journal-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .other-indexing {
                position: sticky;
                top: 180px;
                height: 100%;

                .card-design {
                    width: 300px;
                    max-width: 300px;
                    height: auto;
                    display: block;
                    overflow: hidden;

                    .card-title {
                        padding: 10px;
                        font-size: 20px;
                        letter-spacing: 0.8px;
                        background: linear-gradient(270deg, var(--primary-color) 20%, var(--primary-dark) 80%);
                        color: var(--white-color);
                        font-style: italic;
                    }

                    .card-body {
                        padding-block: 10px;

                        ul {
                            li {
                                margin-block: 10px;

                                a {
                                    text-decoration: none;
                                    color: #000;
                                    transition: all 0.3s linear;
                                    font-weight: 600;

                                    &:hover {
                                        color: var(--primary-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .issue-list {
                width: calc(100% - 30%);

                @media (max-width: 576px) {
                    width: 100%;
                }

                .issue-details {
                    margin: 25px 0;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: rgba(225, 225, 225, 0.483);
                        margin-top: 10px;
                    }

                    h1 {
                        font-size: 25px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: 600;
                        text-align: start;
                        color: rgba(0, 0, 0, 0.752);
                        cursor: pointer;
                        text-transform: uppercase;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                    .author-name {
                        text-align: start;
                        color: gray;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                    }

                    .action-bar {
                        color: gray;
                        margin-top: 5px;
                        font-size: 13px;

                        .downLoad-btn {
                            cursor: pointer;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }

                        .pipe-symbol {
                            color: rgba(225, 225, 225, 0.837);
                            margin: 0 8px;
                        }
                    }

                    .doiNumber {
                        color: var(--primary-color);
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    .article-tag {
                        background: var(--primary-color);
                        padding: 2px 8px;
                        font-size: 12px;
                        text-transform: uppercase;
                        border-radius: 3px;
                        letter-spacing: 0.5px;
                        color: var(--white-color);
                    }

                    .date {
                        text-transform: uppercase;
                        font-size: 12px;
                        color: gray;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

        .specific-journal {
            position: relative;

            .breadcrumb-section {
                padding-top: 30px;
                // position: absolute;

                a {
                    text-decoration: none;
                    // color: #000;
                }
            }

            .issue-list {
                .issue-details {
                    margin: 25px 0;

                    h1 {
                        font-size: 25px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: 600;
                        text-align: start;
                        color: rgba(0, 0, 0, 0.752);
                        cursor: pointer;
                        text-transform: uppercase;

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                    .author-name {
                        text-align: start;
                        color: gray;
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                    }

                    .doi-number {
                        text-align: start;
                        color: var(--primary-color);
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                        cursor: pointer;
                    }

                    .action-bar {
                        color: gray;
                        margin-top: 5px;
                        font-size: 13px;

                        .downLoad-btn {
                            cursor: pointer;

                            &:hover {
                                color: var(--primary-color);
                            }
                        }

                        .pipe-symbol {
                            color: rgba(225, 225, 225, 0.837);
                            margin: 0 8px;
                        }
                    }

                    .doiNumber {
                        color: var(--primary-color);
                        font-size: 14px;
                        margin-bottom: 5px;
                    }

                    .article-tag {
                        background: var(--primary-color);
                        padding: 2px 8px;
                        font-size: 12px;
                        text-transform: uppercase;
                        border-radius: 3px;
                        letter-spacing: 0.5px;
                        color: var(--white-color);
                    }

                    .date {
                        text-transform: uppercase;
                        font-size: 12px;
                        color: gray;
                        letter-spacing: 0.5px;
                    }
                }
            }

            .goBackBtn {
                button {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }

            article {
                width: calc(100% - 30%);

                @media (max-width: 576px) {
                    width: 100%;
                }

                .journal-html {
                    text-align: justify;

                    h3 {
                        font-size: 20px;
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: 600;
                        text-align: start;
                        color: rgba(0, 0, 0, 0.752);

                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: rgba(225, 225, 225, 0.483);
                            margin-top: 10px;
                        }
                    }
                }
            }

            .right-content {
                position: sticky;
                top: 180px;
                height: 100%;

                .card-design {
                    width: 300px;
                    max-width: 300px;
                    height: auto;
                    display: block;
                    overflow: hidden;

                    .card-title {
                        padding: 10px;
                        font-size: 20px;
                        letter-spacing: 0.8px;
                        background: linear-gradient(270deg, var(--primary-color) 20%, var(--primary-dark) 80%);
                        color: var(--white-color);
                        font-style: italic;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;

                .tab {
                    font-size: 22px;
                    border-width: 2px;
                }

            }

            .tab-content {
                padding-block: 20px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;
                flex-wrap: wrap;

                .tab {
                    font-size: 20px;
                }
            }

            .tab-content {
                padding: 0 10px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .particular-article-section {
        margin-top: 60px !important;

        .inner-content {
            .current-article {
                padding: 30px;
                height: auto;

                >div {
                    flex-direction: column;
                    align-items: baseline;
                    row-gap: 15px;
                }
            }

            .all-journal-list {
                .other-indexing {
                    width: 100%;

                    .card-design {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            .specific-journal {
                .right-content {
                    width: 100%;

                    .card-design {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;
                flex-wrap: wrap;

                .tab {
                    font-size: 20px;
                }
            }

            .tab-content {
                padding: 0 10px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .particular-article-section {
        margin-top: 60px !important;

        .inner-content {
            .current-article {
                padding: 30px;
                height: auto;

                >div {
                    flex-direction: column;
                    align-items: baseline;
                    row-gap: 15px;
                }
            }

            .all-journal-list {
                .other-indexing {
                    width: 100%;

                    .card-design {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            .specific-journal {
                .right-content {
                    width: 100%;

                    .card-design {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}