.archives-section {
    .inner-content {
        .all-tabs {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.522);
            margin: 10px 0 20px 0;

            .tab {
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                padding: 5px 25px;
                border: 1px solid var(--primary-color);
                border-bottom: none;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                &.active {
                    color: var(--white-color);
                    background: var(--primary-color);
                }
            }
        }

        .tab-content {
            .issue-card {
                cursor: pointer;

                &:hover {
                    .card-top {
                        filter: grayscale(0%);
                        box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.755);
                        transform: translateY(-2px);
                    }
                }

                .card-top {
                    overflow: hidden;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;
                    filter: grayscale(80%);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .card-bottom {
                    p {
                        font-size: 15px;
                        padding: 10px;
                        text-align: center;
                        margin: 0;
                        font-weight: 600;
                        color: var(--primary-dark);
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;

                .tab {
                    font-size: 22px;
                    border-width: 2px;
                }

            }

            .tab-content {
                padding-block: 20px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;
                flex-wrap: wrap;

                .tab {
                    font-size: 20px;
                }
            }

            .tab-content {
                padding: 0 10px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .archives-section {
        .inner-content {
            .all-tabs {
                margin: 25px 0;
                flex-wrap: wrap;

                .tab {
                    font-size: 20px;
                }
            }

            .tab-content {
                padding: 0 10px;

                .issue-card {
                    .card-bottom {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}