.conference-section {
    width: 100%;

    .conference-content {
        .top-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-content {
                width: 60%;

                h1 {
                    margin: 0;
                    line-height: 1.3;

                    &.title {
                        font-size: 35px;
                        font-weight: 800;
                        text-transform: capitalize;
                        color: var(--primary-color);
                    }

                    &.subtitle {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .location {
                    font-size: 15px;
                    font-weight: 500;
                    text-align: justify;
                }
            }

            .right-content {
                width: 40%;
                text-align: center;

                .date {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;

                    >div {
                        width: 80px;
                        height: 80px;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                        border: 2px solid var(--primary-color);
                        background: var(--primary-color);
                        color: var(--white-color);
                        border-radius: 10px;
                        font-weight: 600;
                        font-size: 40px;
                    }
                }
            }

            .month {
                font-size: 20px;
                font-weight: 800;
                margin-top: 5px;
                color: var(--primary-color);
            }
        }

        .bottom-content {
            .organizer-details {
                margin: 25px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 0px;

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--primary-color);
                }

                >div {
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 150px;
                        height: auto;
                    }
                }
            }

            .registration-details {
                p {
                    margin: 0;
                    font-weight: 600;
                    color: var(--primary-color);
                }

                .event-btn-groups {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 10px;

                    button {
                        background: var(--primary-color);
                        color: var(--white-color);
                        border: none;
                        padding: 8px 15px;
                        font-size: 15px;
                        border-radius: 5px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background: var(--primary-dark);
                        }

                        &:last-child {
                            background: green;

                            &:hover {
                                background: darkgreen;
                            }
                        }
                    }

                }

                .contact-details {
                    h3 {
                        font-size: 15px;
                        font-weight: 600;
                        margin: 0;
                        line-height: 1.3;
                    }
                }

                .media-partner {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-top: 15px;

                    .media-partner-details {
                        text-align: center;

                        img {
                            object-fit: contain;
                        }
                    }
                }

                .note {
                    font-size: 15px;
                    color: red;
                    margin: 5px 0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .conference-section {
        .conference-content {
            .top-content {
                flex-direction: column;
                gap: 20px;

                .left-content,
                .right-content {
                    width: 100%;
                }

                .left-content {
                    h1 {
                        &.title {
                            line-height: 1.2;
                        }
                    }

                    .location {
                        text-align: left;
                    }
                }
            }
        }
    }
}