.editorial-board-section {
    .sub-title {
        letter-spacing: 1px;
    }

    h5 {
        font-weight: 600;
        color: var(--primary-dark);
    }

    .member-card {
        display: flex;
        justify-content: left;
        align-items: start;
        gap: 20px;

        .left-content {
            width: 120px;
            height: 120px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            svg {
                font-size: 120px;
            }
        }

        .right-content {
            p {
                margin: 0;
            }

            .member-name {
                color: var(--primary-color);
                font-size: 25px;
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .editorial-board-section {
        h1 {
            margin-bottom: 10px;
        }

        h5 {
            font-size: 25px;
        }

        hr {
            margin-bottom: 30px;
        }

        .member-card {
            .left-content {
                width: 180px;
                height: 180px;
            }

            .right-content {
                .member-name {
                    font-size: 26px;
                    letter-spacing: 0.8px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 22px;
                    line-height: 1.5;
                }
            }
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .editorial-board-section {
        h1 {
            margin-bottom: 10px;
        }

        .member-card {
            .left-content {
                width: 250px;
                height: 150px;
            }

            .right-content {
                .member-name {
                    font-size: 23px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .editorial-board-section {
        h1 {
            margin-bottom: 10px;
        }

        .member-card {
            .left-content {
                width: 250px;
                height: 150px;
            }

            .right-content {
                .member-name {
                    font-size: 22px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}