.editorial-board-section {
    .sub-title {
        letter-spacing: 1px;
    }

    h5 {
        font-weight: 600;
        color: var(--primary-dark);
    }

    .member-card {
        display: flex;
        justify-content: left;
        align-items: start;
        gap: 20px;

        .left-content {
            width: 120px;
            height: 120px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .right-content {
            p {
                margin: 0;
            }

            .member-name {
                color: var(--primary-color);
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 576px) {
    .editorial-board-section {
        h1 {
            margin-bottom: 10px;
        }

        .member-card {
            .left-content {
                width: 250px;
                height: 150px;
            }

            .right-content {
                .member-name {
                    font-size: 23px;
                }
            }
        }
    }
}