.about-section {
    padding-bottom: 20px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p {
        letter-spacing: 1px;
        margin-top: 30px;
        text-align: justify;
        text-wrap: pretty;

        &.main-content {
            letter-spacing: 1px;
            margin-top: 30px;
            text-align: justify;
            text-wrap: pretty;
        }
    }

    ul {
        li {
            p {
                margin: 5px 0;
            }
        }
    }
}

.latest-articles-section {
    padding-top: 0;

    .article-card {
        width: calc(100% - 20px);
        height: 100%;
        padding: 10px 0;
        cursor: pointer;

        h1 {
            font-size: 18px;
            margin-bottom: 5px;
            font-weight: 600;
            text-align: start;
            text-transform: uppercase;
            color: var(--primary-color);
        }

        p {
            text-align: start;
            color: gray;
            font-size: 15px;
            font-weight: 600;
            margin: 0;
        }
    }
}

.index-section {
    padding-top: 0;

    .slider {
        overflow: hidden;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100px;
            height: 100%;
            z-index: 2;
            pointer-events: none;
        }

        &::before {
            left: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        }

        .slick-slider {
            .slick-list {
                .slick-slide {
                    width: 100px;
                    height: 100px;

                    div {
                        width: 100%;
                        height: 100%;
                    }

                    .slider-item {
                        width: 100% !important;
                        height: 100% !important;
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 180px;
                            max-width: 180px;
                            height: auto;
                            object-fit: contain;
                            margin: 0 30px;
                        }
                    }
                }
            }
        }

    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .about-section {
        h5 {
            font-size: 30px;
        }

        p {
            font-size: 22px;
        }

        ul {
            p {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 576px) {
    .about-section {
        ul {
            p {
                text-align: left;
            }
        }
    }

    .index-section {
        .slick-slider {
            .slick-list {
                .slick-slide {
                    .slider-item {
                        padding: 0 30px;

                        img {
                            width: 150px !important;
                            max-width: 150px !important;
                            margin: 30px !important;
                        }
                    }
                }
            }
        }
    }
}