/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  color: #4d4643;
  position: relative;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.30rem;
  background-color: var(--primary-light);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color) !important;
  border-radius: 0.5rem;
}

.table-responsive::-webkit-scrollbar {
  height: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
  height: 5px;
}

a {
  color: var(--black-color);
}

a:hover {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", serif;
}

:root {
  --primary-color: #235598;
  --primary-light: #b4eef3;
  --primary-dark: #163866;
  --white-color: #fff;
  --input-placeholder: #70f1fc;
  --black-color: #000;
  --secondary-100: #d9d9d9;
  --secondary-200: #c0c0c0;
  --secondary-400: #8e8e8e;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 60px;
  box-sizing: border-box;

  .section-title {
    text-align: left;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-family: "Anton SC", serif;
    margin: 0;

    &::before {
      content: attr(data-heading);
      display: block;
      position: relative;
      top: 5px;
      font-size: 1.2rem;
      font-weight: 700 !important;
      color: var(--primary-dark);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: capitalize;
      text-shadow: none;
      letter-spacing: 0.5px;
    }
  }
}