.author-tools-section {
    .sub-title {
        letter-spacing: 1px;
    }

    h5 {
        font-weight: 600;
        color: var(--primary-dark);
    }

    div {
        ul {
            li {
                p {
                    margin: 5px 0;
                }
            }
        }
    }

    .important-instruction {
        background: #c1c1c159;
        border-left: 5px solid #ff0000;
        padding: 25px;
        border-radius: 10px;

        h3 {
            color: red;
        }

        p {
            margin: 0;
        }
    }

    .article-details {
        .inner-content {
            padding: 20px;
        }
    }
}