.about-us-section {
    .sub-title {
        letter-spacing: 1px;
    }

    h5 {
        font-weight: 600;
        color: var(--primary-dark);
    }

    div {
        ul {
            li {
                p {
                    margin: 5px 0;
                }
            }
        }
    }
}

@media (min-width: 1400px) and (max-width: 2000px) {
    .about-us-section {
        h1 {
            margin-bottom: 10px;
        }

        h5,
        .sub-title {
            font-size: 25px;
        }

        .sub-title {
            letter-spacing: 1px;
        }

        img {
            margin: 20px 0;
            max-width: calc(100% - 50px);
        }

        p {
            font-size: 22px;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }
    }
}

@media (max-width: 576px) {
    .about-us-section {
        h1 {
            margin-bottom: 10px;
        }

        img {
            margin: 10px 0;
            max-width: calc(100% - 50px);
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }

        ul {
            padding-left: 1.5rem;
        }
    }
}